.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.buffer-form {
  /* position: absolute; */
  width: 150px;
  height: 100px;
  /* right: 20px; */
  /* z-index: +20; */
  margin-top: 5px;
  /* background-color: #1c94e3; */
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  border: 1px solid #ccc;
  border-radius: 8px;
}

.buffer-form button {
  border: 2px solid #333; 
  border-radius: 4px; 
  width: 80px;
  height: 30px;
  margin-top: 20px;
  margin-left: 25px;
  background-color: #76b6c4; 
  color: #333; 
  font-size: 16px; 
  cursor: pointer; 
  justify-content: center;
}
